@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;

}

header {
    background-color: #1d252d;
    box-shadow: 0px 5px 13px -5px rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    padding-left: 80px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    
}



ul {
    padding: 16px 80px 16px 24px;
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 1rem;
}

a {
    font-weight: 400;
    color: white;
}

a:hover {
    color: #de3334;
}

.pass a {
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
}

.pass a:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    transition: all 0.3s;
  }

  .pass a:hover:before {
    width: 100%;
    left: 0;
    background: #de3334;
  }

main {

}


.catalogue-container {
    background-color: white;
    /* height: 100vh; */
    padding: 2rem 5rem 2rem 5rem;
}

.catalogue-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.img-card-catalogue {
    border: #7f8182 1px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    width: 200px;
    height: auto;
    

}

.img-card-catalogue img {
    width: 100%;
    height: 100%;
}

.catalogue-title {
    font-size: 4rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: #202124;
    text-align: center;
}

.catalogue-text {
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #5f6368;
    margin-bottom: 3rem;
    text-align: center;

}

.relleno {
    height: 27vh;
    color: transparent;
}


footer {
    padding: 20px 80px 20px 80px;
    background-color: #1d252d;
    color: white;
}
