@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

header {
    background-color: #1d252d;
    box-shadow: 0px 5px 13px -5px rgba(0,0,0,0.6);
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

a {
    text-decoration: none;
}

.nav-content { /* contenedor para poder definir un max-width */
    display: flex;
    justify-content: space-between; /* espaciado automatico */
    align-items: center;
    max-width: 1200px; 
    padding: 1rem 2rem; /* margen para cuando se reduce la pantalla */
    margin: auto; /* centra el objeto en el medio */
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
    padding: 1rem;
}

nav a {
    font-weight: 400;
    color: white;
}

nav a:hover {
    color: #de3334;
}

.pass a {
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
}

.pass a:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    transition: all 0.3s;
  }

  .pass a:hover:before {
    width: 100%;
    left: 0;
    background: #de3334;
  }

  .ico-menu {
      display: none;
  }

.hero-container {
    height: auto;
    background-color: #1d252d;
    padding: 8rem 5rem 5rem 5rem;
    background-color: #1d252d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='440' height='440' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23232c36' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23212a33'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.hero-content {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1200px;

}

.hero-content h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    color: white;
    text-align: left;
}

.hero-content h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 2rem;
    color: white;
    text-align: left;
    max-width: 75%;
}

.primary-button {
    width: 12rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(90deg,rgba(224,47,63,1) 50%,rgba(220,24,96,1) 100%);
    color: white;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    border-color: transparent;
}

 .primary-button:hover {
    box-shadow: 0px 0px 21px -4px rgba(222,51,52,0.71), 0px 4px 27px -6px rgba(221,25,94,0.26);
    transition: all 0.3s;
    cursor: pointer;
    
}

@keyframes bounce {
    from {
        transform: translateY(-25px);
    }
    to {
        transform: translateY(25px)
    }
}

.hero-image{
    max-width: 40%;
    animation: bounce 3s infinite alternate;
}

.catalogue-container {
    background-color: white;
    padding: 2rem 5rem 2rem 5rem;
}

.catalogue-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img-card-catalogue {
    box-shadow: 0px 0px 16px 1px rgba(94,94,94,0.42);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    width: 200px;
    height: auto;
}

.img-card-catalogue:hover {
    box-shadow: 0px 4px 27px 0px rgba(66,66,66,0.59);
    cursor: pointer;
    transition: all 0.3s;
}

.img-card-catalogue img {
    width: 100%;
    height: 100%;
}


.catalogue-title {
    font-size: 4rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: #202124;
    text-align: center;
}

.catalogue-text {
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #5f6368;
    margin-bottom: 3rem;
    text-align: center;

}

.contact-container {
    background-color: #f8f9fa;
    border-top: #e9ecef 2px solid;
    padding: 3rem 2rem;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-content {
    max-width: 1200px;
    margin: auto;
}

input, textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border-color: transparent;
    margin-bottom: 1.5rem;
}

input:focus, textarea:focus {
    border: #de3334 1px solid;
    outline: none;
}

footer {
    background-color: white;
    color: #1d252d;
}

.footer-content {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
}

.iconos-rrss img {
    padding-left: 1rem;
}

.iconos-rrss img:hover{
    filter: invert(29%) sepia(38%) saturate(5078%) hue-rotate(342deg) brightness(90%) contrast(93%);
}



@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .ico-menu {
        display: inline-block;
        margin: 0.2rem 0rem;
    }

    .hero-container {
        padding: 8rem 2rem 4rem 2rem;
    }

    .hero-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hero-content h1 {
        font-size: 3rem;
        text-align: center;
    }
    
    .hero-content h3 {
        font-size: 1.5rem;
        text-align: center;
        max-width: 100%;
    }

    .hero-image {
        display: none;
    }

    .catalogue-container {
        padding: 4rem 2rem;
    }

    .catalogue-title {
        font-size: 3rem;
        text-align: center;
    }

    .contact-content button {
        display: flex;
        margin: auto;
        justify-content: center;
    }
    

    
}